 *{
     margin: 0;
     padding: 0;
 }

 body {
    font-family: 'Work Sans', sans-serif;
 }
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
 .clear::after{
     content: "";
     display: block;
     clear: both;
 }
 .left{
     float: left;
 }
 .right{
     float: right;
 }
 .container{
     max-width: 1420px;
     margin: auto;
 }
 /* Header Section */
 .headerTop{
     background-color: #fff;
     height: 80px;
     /* border-bottom: 2px solid #ddd; */
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999;
     width: 100%;
 }
 .headerLogo{
     width: 19%;
 }
 .image img{
    max-width: 40px;
    position: relative;
    margin-top: 20px;
    margin-right: 10px;
 }
 .L-text a{
     line-height: 80px;
     font-size: 25.6px;
     letter-spacing: 1px;
     color: #333;
     transition: 0.5s;
     font-weight: 500;

 }
 .L-text:hover a{
     color:#cccc;
 }
 .headerMenu{
     width: 60%;
     text-align: center;
 }
 .menu{
     
 }
 .menu ul{
     list-style: none;
     
 }
 .menu ul li{
     display: inline-block;
 }
 .menu ul li a{
     display: inline-block;
     padding: 20px 15px;
     font-size: 16px;
     margin: 10.672px 16px;
     letter-spacing: 1;
     color: #333;
     transition: 0.5S;
 }
 .menu ul li a:hover{
     color: #6278df;
 }
/* DorpDown Menu */
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top center;

}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.menu ul li ul li{
    display: block;
    border-bottom: 1px solid #ddd;
}
.menu ul li ul li a{
    display: block;
    padding: 15px 10px;
    text-align: left;
   
}

 .headerBtn{
     width:20%;
     text-align: right;
 }
 .Btn{
     display: inline-block;
     background: #fff;
     border: 3px solid #6278df;
     padding: 10px 30px;
     margin-top: 18px;
     border-radius: 10px;
     font-size: 16px;
     letter-spacing: -1px;
     word-spacing: 1.5px;
     font-weight: 700;
     color: rgb(98, 120, 223);
 
 }

 .Btn:hover{
     background:rgb(98, 120, 223);
     color: #fff;
     box-shadow: 0px 0px 30px 0px rgb(98, 120, 223);
 }

 /* Banner Section */
 .BannerTop{
     background-image: url(https://mobirise.com/extensions/appamp/assets/images/mbr-10.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 185px;
     text-align: center;
     position: relative;
     z-index: 9;
 }

 .BannerTop::after{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.438);
     z-index: -1;
 }
 .banner{}
 .banner h3{
     font-size: 25.6px;
     line-height:38.4px;
     font-weight: 300;
     color: #fff;
 }
 .banner p{
     font-size: 44.8px;
     line-height: 62.72px;
     color: #fff;
     font-weight: 500;
     padding: 32px 0px 0px;
     margin-bottom: 25px;
 }
 .Email{
     width: 350px;
     height:30px;
     outline: 0;
     padding: 19px 24px;
     font-size: 20.8px;
     line-height: 20.8px;
     letter-spacing: -1px;
     color: #fff;
     border-radius: 7px;
     border: 0;
     margin-right: 10px;
     transition: 0.5s;
     
 }
 .Email:hover{
    box-shadow: 0px 0px 30px 0px rgb(98, 120, 223);
 }
 .BannerBtn{
     width: 270px;
     background:#5BA533;
     display: inline-block;
     padding:20px 30px;
     border-radius: 7px;
     font-size: 20.8px;
     line-height: 31.2px;
     word-spacing: 1.5px;
     margin: 6.4px 12.8px;
     font-weight: 600;
     color: #fff;
     transition: 0.5s;
     border: 3px solid transparent;
 }

 .BannerBtn:hover{
     border: 3px solid rgb(98, 120, 223);
     box-shadow: 0px 0px 30px 0px rgb(98, 120, 223);
     background-color: #fff;
     color: rgb(98, 120, 223);;

 }
 /* Count */

 .count{
     padding: 70px 0px;
     
 }
 .OurCount{
     text-align: center;
 }
 .countIteams{
     width: 25%;
 }
 .countIteams h1{
     font-size: 57.6px;
     line-height: 63.36px;
     font-weight: 500;
     color: #111;
 }
 .countIteams span{
    font-size: 20.8px;
    line-height: 31.2px;
    font-weight: 400;
    color: #767676;
    margin-top: 20px;
    display: inline-block;
 }
 /* Improve */
 .Improve{
     padding: 100px 0px;
     background: #F7F9FF;
 }
 .improvedLeft{
     width: 65%;
    margin-right: 3%;
 }
 .improvedLeft h2{
     margin-top: 150px;
     font-size: 44.8px;
     line-height: 62.72px;
     font-weight: 500;
 }
 .improvedLeft p{
     padding: 24px 0px 8px;
     font-size: 20.8px;
     line-height: 31.2px;
     font-weight: 400;
     color: #232323;
     text-align: justify;
 }

 .improvedRight{
     width: 30%;
 }

 /* About Section */
 .About{
     padding: 100px 0px;
 }
 .AboutHeading{
     padding-bottom: 50px;
 }
 .AboutHeading h4{
    font-size: 44.8px;
    line-height: 62.72px;
    font-weight: 400;
    padding: 8px 0px 24px;
    color: #111;
 }
 .AboutHeading h3{
     font-size: 25.6px;
     line-height: 38.4px;
     font-weight: 300;
     color: #767676;
     padding: 0px 0px 48px;
 }
 .AboutIteam{
     width: 31%;
     margin-right: 2%;
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.089);
     margin-bottom: 2%;
     transition: 0.5s;
 }

 
 .AboutIteam:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.267);
 }

 .AboutImg img{
     width: 160px;
     height: 250px;
     object-fit: cover;
     object-position: center;
     border-radius: 5px 0px 0px 5px;
     display: block;
 }
 .AboutContant{
    width: 220px;
    padding: 13px;

 }
 .AboutContant h3{
     font-size: 20.8px;
     line-height: 31.2px;
     padding:0px 0px 8px;
     font-weight: 500;
     color: #000;
     margin-top: 20px;
 }
 .AboutContant p{
     font-size: 16px;
     line-height: 22.24px;
     font-weight: 300;
 }

 /* ApplicationTop */
 .ApplicationTop{
     padding: 100px 0px;
 }
 .applicationHeading h3{
     font-size: 44.8px;
     line-height: 62.72px;
     padding:0px 0px 24px;
     font-weight: 400;
     color: #000;
     margin-bottom: 50px;
     text-align: center;
 }
 .Application{
     width: 31%;
     margin-right: 2%;
     margin-bottom: 2%;
     position: relative;
     transition: 0.5s;
 }
 .A-image img{
     max-width: 100%;
     cursor: pointer;
     display: block;
     
 }
 .Application::before{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: #6279df79;
 }
 .Application:hover::before{
    width: 100%;
    cursor: pointer;
 }

 /* pricing-section */
 .pricing-sec{
     padding: 100px 0px;
     background: #F7F9FF;
 }

 .p-heading{
     margin-bottom: 40px;
     text-align: center;
 }
 .p-heading h3{
     font-size: 57.6px;
     line-height: 63.36px;
     padding: 0px 0px 24px;
     font-weight: 400;
     color: #000;

 }
 .p-heading h4{
    font-size: 25.6px;
    line-height: 38.36px;
    padding: 0px 0px 24px;
    font-weight: 300;
    color: #767676;
 }
 .pricingSection{
     width: 1000px;
     margin: 0px auto;
 }
 .pricingIteams{
     width: 48%;
     margin-right: 2%;
     background-color: #fff;
     border-radius: 5px;
     padding: 30px;
     padding-left: 40px;
     box-sizing: border-box;
     
 }
 .pricingIteams:last-child{
     margin-right: 0;
 }
 .pricingIteams h3{
     font-size: 44.8px;
     line-height: 62.72px;
     font-weight: 500;
 }
 .pricingIteams p{
     font-size: 20.8px;
     line-height: 31.2px;
     font-weight: 300;
     color: #767676;
     padding: 20px 0px;
 }
 .p-list{}
 .p-list span{
     display: block;
     font-size: 20.8px;
     line-height: 31.2px;
     font-weight: 300;
     color: #767676;
     padding: 20px 0px;
 }
 .p-list span i{
     font-size: 40px;
     width: 25px;
     margin-right: 30px;
     color: #6278df;
 }
.P-btn{
    width: 100%;
    margin: auto;
}
 .p-btn{
     background: #fff;
     box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.555);
     display: block;
     padding: 20px 40px;
     text-align: center;
     margin: 20px 0px;
     border-radius: 5px;
    font-size: 20.8px;
    line-height: 31.2px;
    font-weight: 600;
    color: #6278df;
    transition: 0.5s;

 }
 .pricingIteams:hover .p-btn{
     background: #6278df;
     color: #fff;
 }
 .user{
     padding: 100px 0px;
 }
 .user-heading{
    text-align: center;
 }
 .user-heading h2{
     font-size: 25.6px;
     line-height: 38.25px;
     font-weight: 300;
     color: #767676;
     padding: 0px 0px 16px;
 }
 .user-heading h1{
     font-size: 44.48px;
     line-height: 62.72px;
     font-weight: 400;
     color: #000;

 }
 .user-heading span{
     font-size: 88px;
     line-height: 88px;
     font-weight: 400;
     color: #cccc;
     margin: 15px 0px;
     display: block;
 }
 .user-heading p{
     font-size: 20.8px;
     line-height: 31.5px;
     color: #767676;
     margin: 15px 0px;
     width: 700px;
     text-align: center;
     display: inline-block;
 }

 .user-Iteam{
     width: 500px;
     margin: 0 auto;
     margin-top: 30px;
 }
 .u-img{
    max-width: 100%;
    width: 250px;
    text-align: right;
 }
 .u-img img{
     display: inline-block;
     width: 80px;
     border-radius: 50%;
     
 }
 .u-Bio{
     
     width: 230px;
     height: auto;
     margin-top: 15px;
     text-align: left;
     margin-left: 20px;
 }
 .u-Bio h3{
    font-size: 20.8px;
    line-height: 31.2px;
    font-weight: 500;
    color: #000;
 }
 .u-Bio span{
    font-size: 16px;
    line-height: 22.2px;
    font-weight: 400;
    color: #767676;
 }
 